version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    groups:
      dev-deps:
        dependency-type: 'development'
      prod-deps:
        dependency-type: 'production'
